{{ include('deploy/header.twig') }}



<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Basic Config</div>
        <div class="panel-body">
            <form id="configSaveForm" class="form-horizontal" action="/config/save" method="post">
                <fieldset>
                    <input type="hidden" name="siteId" value="{{ siteId }}">
                    <div class="form-group form-group-sm">
                        <label for="deployRoot" class="col-lg-2 control-label">Deploy Root</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="deployRoot" name="deployRoot" placeholder="Deploy Root" type="text" value="{{ deploy_root }}">
                            <span class="help-block">&#123;&#123;root&#125;&#125; , 本机的deploy根目录，必须包含commit和branch两个子目录</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="staticDir" class="col-lg-2 control-label">Static Dir</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="staticDir" name="staticDir" placeholder="Static Dir" type="text" value="{{ static_dir }}">
                            <span class="help-block">&#123;&#123;staticDir&#125;&#125; , 静态目录，相对于{$deploy_root}/commit/{$commit_version}/目录</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="rsyncExclude" class="col-lg-2 control-label">Rsync exclude</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="rsyncExclude" name="rsyncExclude" placeholder="Static Dir" type="text" value="{{ rsync_exclude }}">
                            <span class="help-block">&#123;&#123;rsyncExclude&#125;&#125; , --exclude-from的文件，相对于项目目录的路径</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="defaultBranch" class="col-lg-2 control-label">Default Branch</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="defaultBranch" name="defaultBranch" placeholder="Default Branch" type="text" value="{{ default_branch }}">
                            <span class="help-block">&#123;&#123;defaultBranch&#125;&#125; , 默认branch名, 位于{$deploy_root}/branch/目录下</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="remoteUser" class="col-lg-2 control-label">Remote User</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="remoteUser" name="remoteUser" placeholder="Remote User" type="text" value="{{ remote_user }}">
                            <span class="help-block">&#123;&#123;remoteUser&#125;&#125; , 远端用户名</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="remoteOwner" class="col-lg-2 control-label">Remote Owner</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="remoteOwner" name="remoteOwner" placeholder="Remote Owner" type="text" value="{{ remote_owner }}">
                            <span class="help-block">&#123;&#123;remoteOwner&#125;&#125; , 远端文件的owner，如www-data</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="remoteAppDir" class="col-lg-2 control-label">远程APP目录</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="remoteAppDir" name="remoteAppDir" placeholder="Remote App Dir" type="text" value="{{ remote_app_dir }}">
                            <span class="help-block">&#123;&#123;remoteAppDir&#125;&#125; , </span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="remoteStaticDir" class="col-lg-2 control-label">远程静态目录</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="remoteStaticDir" name="remoteStaticDir" placeholder="Remote static Dir" type="text" value="{{ remote_static_dir }}">
                            <span class="help-block">&#123;&#123;remoteStaticDir&#125;&#125; , 需要发布到的静态文件主机的目录</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="buildCommand" class="col-lg-2 control-label">Build Command</label>
                        <div class="col-lg-7">
                            <input class="form-control" id="buildCommand" name="buildCommand" placeholder="Build Command" type="text" value="make deploy" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="staticHostScript" class="col-lg-2 control-label">Static Host 同步前后执行的命令</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="staticHostScript" name="staticHostScript" rows=6>{{ staticScript }}</textarea>
                            <span class="help-block">格式 , <code>@(after|before):(remote|local|handle)</code>,示例：<br><code>@after:remote
//同步之前远端执行的命令
@before:local
//同步之后远端执行的命令
</code>remote和local都是每次同步每个主机都要执行的命令，而handle命令是只执行一次的本地命令。支持上面配置变量, 如ls &#123;&#123;remoteStaticDir&#125;&#125;。<br>对于需要更改工作目录的命令，请使用<code>cd 目录 && 命令</code>的方式执行</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="webHostScript" class="col-lg-2 control-label">Web Host 同步前后执行的命令</label>
                        <div class="col-lg-7">
                            <textarea class="form-control" id="webHostScript" name="webHostScript" rows=6>{{ webScript }}</textarea>
                            <span class="help-block">格式同上</span>
                        </div>
                    </div>


                    <div class="form-group form-group-sm">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="button" id="siteConfigSave" class="btn btn-info">保存配置</button>
                            &nbsp;&nbsp;<span class="text-success saveConfigInfo" style="display: none;">保存成功</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="row">
</div>


{{ include('deploy/footer.twig') }}

