{{ include('deploy/header.twig') }}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Branch Build</div>
        <div class="panel-body">
            <form class="form-inline" role="form" action="/branch/deploy" method="post">
                <input type="hidden" name="siteId" value="{{ siteId }}">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="branch">Branch Name</label>
                    <input class="form-control input-sm" id="branch" name="branch" placeholder="Branch Name" value="{{ defaultBranch }}">
                </div>
                <div class="form-group">
                    <button type="button" id="buildBranch" class="btn btn-sm btn-info">Build</button>
                    &nbsp;&nbsp;<span id="buildBranchInfo" class="text-success"></span>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Commit Deploy</div>
        <div class="panel-body">
            <form class="form-inline" role="form" action="/commit/deploy" method="post">
                <input type="hidden" name="siteId" value="{{ siteId }}">
                <div class="form-group form-group-sm">
                    <label class="sr-only" for="commit">Commit Version</label>
                    <select class="form-control input-sm" id="s-commit" name="commit">
                        <option value="">Commit Version...</option>
                        {% for ch in commit_version %}
                        <option value="{{ ch }}">{{ ch[:7] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="sr-only" for="remote">remote</label>
                    <select class="form-control input-sm" id="remote" name="remote">
                        {% for m in hostTypes %}
                        <option value="{{ m }}">{{ m }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button type="button" id="deployCommit" class="btn btn-sm btn-info">Deploy</button>
                    &nbsp;&nbsp;<span id="deployCommitInfo" class="text-success"></span>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Build/Deploy Logs</div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-deploy-list">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Branch</th>
                    <th>Commit</th>
                    <th>Type</th>
                    <th>User</th>
                    <th>Time</th>
                    <th>Last Update</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                {% for m in results %}
                <tr {{ m.result == "Error" ? 'class="text-danger"' : (m.result=='Build Success' or m.result=='Deploy Success'  ? 'class="text-success"' : 'class="text-warning"') }} data-result="{{ m.result }}" data-id="{{ m.id }}">
                    <td>{{ m.id }}</td>
                    <td>{{ m.branch }}</td>
                    <td class="cv-font">{{ m.commit[:7] }}</td>
                    <td>{{ m.type }}</td>
                    <td><a href="https://github.com/{{ m.user }}" target="_blank">{{ m.user }}</a></td>
                    <td>{{ m.time }}</td>
                    <td>{{ m.last_time }}</td>
                    {% if m.result == 'Error' %}
                        <td><a href="#" class="showErrorLog" data-info="{{ m.errMsg | escape }}">{{ m.result }}</a></td>
                    {% else %}
                        <td>{{ m.result }}</td>
                    {% endif %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showErrorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Error</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    jQuery.fn.isSuccess = function() {
        return /[\w\d]+ Success/i.test($(this).attr('data-result'));
    };
    jQuery.fn.isError = function() {
        return $(this).attr('data-result') == 'Error';
    };

    var escapeHtml = function (unsafe) {
        return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
    };

    var initErrorLogBtn = function() {
        $(".showErrorLog").unbind('click');
        $(".showErrorLog").click(function(e) {
            $("#showErrorModal .modal-body").html($(this).attr('data-info'));
            $("#showErrorModal").modal("show");
            return false;
        });
    };
    initErrorLogBtn();
    var resultInterval = window.setInterval(function () {
        var idList = [];
        var obs    = [];
        $(".table-deploy-list tbody tr").each(function( index ) {
            if (!$(this).isSuccess() && !$(this).isError()) {
                var id = parseInt($(this).attr('data-id'));
                idList.push(id);
                obs[id] = $(this);
            }
        });

        if (idList.length > 0) {
            $.getJSON('/status/deploy', {
                'siteId' : '{{ siteId }}',
                'ids'    : idList
            }, function (data) {
                if (data.res == 0) {
                    for (var i in data.hosts) {
                        var tr = obs[parseInt(data.hosts[i].id)];
                        if (tr == undefined) continue;
                        tr.attr('data-result', data.hosts[i].result);
                        tr.children('td:last').html(data.hosts[i].result);
                        tr.children('td:eq(2)').html(data.hosts[i].commit.slice(0, 7));
                        tr.children('td:eq(6)').html(data.hosts[i].last_time);
                        console.log(tr.isSuccess());
                        if (tr.isSuccess()) {
                            tr.attr('class', 'text-success');
                            if (data.hosts[i].type == "Build") {
                                $("#s-commit").prepend('<option value="' + data.hosts[i].commit + '" >'+
                                    data.hosts[i].commit.slice(0, 7) +'</option>');
                                $("#s-commit").val(data.hosts[i].commit);
                            }
                        }
                        if (tr.isError()) {
                            tr.attr('class', 'text-danger');
                            tr.children('td:last').html("<a href=\"#\" class=\"showErrorLog\" data-info=\""
                                + escapeHtml(data.hosts[i].errMsg) + "\">Error</a>");
                            initErrorLogBtn();
                        }
                    }
                }
            });
        }

    }, 4000);
    $("#buildBranch").click(function(e){
        $(this).button('loading');
        $.post('/branch/deploy', {
            siteId : "{{ siteId }}",
            branch : $("#branch").val()
        }, function(data){
            if (data.res == 0) {
                $('#buildBranchInfo').html('Build Request Success');
                window.setTimeout(function(){
                    location.href = location.href;
                }, 700);
            }
        });
    });
    $("#deployCommit").click(function(e){
        if ($('#s-commit').val()=='') {
            alert('请选择commit version');
            return false;
        }
        $(this).button('loading');
        $.post('/commit/deploy', {
            siteId : "{{ siteId }}",
            commit : $('#s-commit').val(),
            remote : $('#remote').val()
        }, function(data){
            if (data.res == 0) {
                $('#deployCommitInfo').html('Deploy Request Success');
                window.setTimeout(function(){
                    location.href = location.href;
                }, 700);
            }
        });
        return true;
    });
});
</script>

{{ include('deploy/footer.twig') }}

