{{ include('common/header.twig') }}
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">
                <a class="list-group-item" href="/site/config/{{ siteId }}">Config</a>
                <a class="list-group-item" href="/host/config/{{ siteId }}">Host Config</a>
                <a class="list-group-item" href="/deploy/{{ siteId }}">Deploy</a>
                <a class="list-group-item" href="/{{ siteId }}/pull_request/info">PR Build</a>
                <a class="list-group-item" href="/{{ siteId }}/pull_request/deploy">PR Deploy</a>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                {% if SCOK %}
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Success!</h4>
                    <p>{{ SCOK }}</p>
                </div>
                {% endif %}
            </div>
