{{ include('deploy/header.twig') }}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Web Host</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form" method="post" action="/host/add">
                        <input type="hidden" id="w-siteId" name="siteId" value="{{ siteId }}">
                        <input type="hidden" id="w-type" name="type" value="{{ hostWebType }}">
                        <div class="form-group">
                            <input class="form-control input-sm" id="w-hostname" name="hostname" placeholder="Host Name" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="w-ip" name="hostip" placeholder="Host IP" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="w-port" name="hostport" placeholder="Host PORT" value="">
                        </div>
                        <div class="form-group">
                            <select id="w-hosttype" name="hosttype" class="form-control input-sm">
                                {% for m in hostTypes %}
                                <option value="{{ m }}">{{ m }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="addWebHost" class="btn btn-sm btn-info">添加</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover table-striped table-web-list">
                        <thead>
                        <tr>
                            <th>Host Name</th>
                            <th>Host IP</th>
                            <th>Host Port</th>
                            <th>Type</th>
                            <th>Add Time</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for host in web_hosts %}
                        <tr>
                            <td>{{ host.hostname }}</td>
                            <td>{{ host.hostip }}</td>
                            <td>{{ host.hostport }}</td>
                            <td>{{ host.hosttype }}</td>
                            <td>{{ host.time }}</td>
                            <td><buttion data-id="{{ siteId }}" type="button" data-jstr="{{ host|json_encode }}" class="btn btn-xs btn-warning delHost">删除</buttion></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Static Host</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-inline" role="form" method="post" action="/host/add">
                        <input type="hidden" id="s-siteId" name="siteId" value="{{ siteId }}">
                        <input type="hidden" id="s-type" name="type" value="{{ hostStaticType }}">
                        <div class="form-group">
                            <input class="form-control input-sm" id="s-hostname" name="hostname" placeholder="Host Name" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="s-ip" name="hostip" placeholder="Host IP" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" id="s-port" name="hostport" placeholder="Host PORT" value="">
                        </div>
                        <div class="form-group">
                            <select id="s-hosttype" name="hosttype" class="form-control input-sm">
                                {% for m in hostTypes %}
                                    <option value="{{ m }}">{{ m }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="addStaticHost" class="btn btn-sm btn-info">添加</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover table-striped table-static-list">
                        <thead>
                        <tr>
                            <th>Host Name</th>
                            <th>Host IP</th>
                            <th>Host Port</th>
                            <th>Type</th>
                            <th>Add Time</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for host in static_hosts %}
                        <tr>
                            <td>{{ host.hostname }}</td>
                            <td>{{ host.hostip }}</td>
                            <td>{{ host.hostport }}</td>
                            <td>{{ host.hosttype }}</td>
                            <td>{{ host.time }}</td>
                            <td><buttion data-id="{{ siteId }}" type="button" data-jstr="{{ host|json_encode() }}" class="btn btn-xs btn-warning delHost">删除</buttion></td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ include('deploy/footer.twig') }}